@media (min-width: 1400px) {
    div.container--wide {
        max-width: 1550px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    .hero {
        height: auto;
        padding: 30px 0 50px
    }

    .hero__title {
        font-size: 70px;
        margin: 0 0 40px 0
    }

    .hero__text {
        margin: 0 0 40px 0
    }

    .hero__images {
        width: 60%
    }

    .hero__images img {
        width: 48%;
        -o-object-fit: contain;
        object-fit: contain
    }

    .hero__images img:last-child {
        margin-left: 30px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .nav .navbar__container {
        max-width: 1000px;
    }

    .nav__contacts {
        gap: 15px;
    }

    .nav__contacts form {
        gap: 0.5rem !important;
    }

    .lang__link {
        padding: 7px;
    }

    .navbar__container .navbar-brand {
        margin-right: 0.5rem;
    }

    .nav__list {
        column-gap: 5px;
    }

    .nav .navbar__container .nav__list .nav__list-link {
        padding-right: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .hero {
        height: auto;
        padding: 50px 0 100px
    }

    .hero__wrapper {
        text-align: center
    }

    .hero__title {
        text-align: left;
        font-size: 50px;
        margin: 0
    }

    .hero__text {
        margin: 0 0 50px 0;
        font-size: 20px;
        max-width: unset
    }

    .hero__images {
        margin: -50px 0 30px 0;
        position: static;
        width: 100%
    }

    .hero__images img {
        width: 48%;
        -o-object-fit: contain;
        object-fit: contain
    }

    .hero__images img:last-child {
        margin-left: 40px
    }
}

@media (max-width: 1400px) {
    .header__menu li a {
        font-size: 18px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .logo {
        margin-right: 0;
    }

    .header__menu {
        margin: 0;
    }
}

@media (max-width: 1200px) {
    .tab-item-header {
        margin-bottom: 15px;
    }

    .tab-item-info {
        font-size: 20px;
        margin-right: 20px;
    }

    .content__sidebar li a {
        font-size: 18px;
        line-height: 1.2;
    }

    .courses__hero-content {
        text-align: center;
    }

    .courses__hero-content h1 {
        font-size: 80px;
    }

    .news__content {
        padding: 20px;
    }

    .header__right {
        display: none;
    }

    .header__nav {
        flex-grow: inherit;
    }

    .header__lang {
        margin: 0;
    }

    .header__menu li a {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__wrapper {
        align-items: center;
        justify-content: space-between;
        height: 150px
    }

    .courses-title {
        font-size: 48px;
        margin-bottom: 60px;
    }

    .masters__slide .masters-card__content {
        transform: translateY(0);
    }

    .masters-card {
        min-height: 620px;
    }

    .header__content-leftSide_title {
        font-size: 56px;
        line-height: 50px;
    }

    .header__content-leftSide_text {
        margin-top: 30px;
    }

    .header__content {
        max-height: 400px;
        height: 100%;
        margin-top: 40px;
    }

    .newsletter__info {
        padding: 70px 15px;
    }

    .info-newsletter__title {
        font-size: 48px;
    }

    .masters-card__content {
        padding: 15px;
    }

    .courses__hero {
        background-position: revert;
        height: 470px;
    }

    .main {
        padding-top: 40px;
    }
}

@media (max-width: 992px) {

    .hero__title {
        font-size: 36px;
        margin: 0
    }

    .courses__hero-content p {
        font-size: 24px;
        line-height: 1.5;
    }

    .courses__hero-content h1 {
        font-size: 48px;
        line-height: 1.5;
    }

    .courses__hero {
        height: 350px;
    }

    .blog__img img {
        width: 100%;
    }

    .courses-page {
        padding: 60px 0;
    }

    .burger {
        position: fixed;
        top: 30px;
        z-index: 102;
        right: 30px;
    }

    .burger-checkbox:checked+label>.hamburger>.bar4 {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        width: 20px !important;
    }

    .burger-checkbox:checked+label>.hamburger>.bar1 {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -2px;
        width: 20px !important;
    }

    .burger-checkbox:checked+label>.hamburger>.bar2 {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-color: transparent !important;
    }

    .burger-checkbox:checked+label>.hamburger>.bar3 {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: transparent !important;
    }

    .hamburger .bar {
        padding: 0;
        width: 20px;
        height: 2px;
        background-color: #846666;
        display: block;
        -webkit-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        position: absolute;
        right: 0
    }

    .hamburger {
        margin: 0 auto;
        width: 20px;
        height: 12px;
        position: relative;
        z-index: 102;
    }

    .bar1 {
        top: 0;
        -webkit-transform-origin: 5%;
        -ms-transform-origin: 5%;
        transform-origin: 5%;
    }

    .bar4 {
        bottom: 0;
        -webkit-transform-origin: 10%;
        -ms-transform-origin: 10%;
        transform-origin: 10%;
    }

    .bar2,
    .bar3 {
        top: 5px;
    }

    .mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .header__menu {
        flex-grow: unset;
        flex-direction: column;
        width: 100%;
        margin: 0 0 30px 0
    }

    .header__nav {
        overflow-y: scroll;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: #fff;
        padding: 350px 20px 40px 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        right: 0;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        height: 100vh;
        max-width: unset;
    }

    .header__nav.open {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .header__contacts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .header__contacts p {
        font-size: 22px;
    }

    .header__menu li a {
        font-size: 22px;
        padding: 24px 0;
    }

    .header {
        padding: 30px 0 0;
    }

    .header__subtitle {
        font-weight: 700;
        margin: 0 0 10px;
    }

    .header__lang {
        margin: 0 0 30px;
        padding: 0;
    }

    .footer__content {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .courses-title {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .socials__title {
        font-size: 22px;
    }

    .socials__subTitle {
        font-size: 20px;
    }

    .social a {
        height: 36px;
        width: 36px;
    }

    .footer__content-top {
        gap: 20px;
    }

    .masters-card__content {
        transform: translateY(-60px);
        min-height: 280px;
    }

    .courses__wrapper {
        margin-bottom: 75px;
    }

    .masters__container {
        padding: 0 30px;
    }

    .masters-card__descr {
        font-size: 16px;
    }

    .masters-card__name {
        font-size: 20px;
    }

    .masters-card__content {
        transform: translateY(-70px);
    }

    .newsletter__map {
        min-height: 500px;
    }

    .contact-form__btn {
        height: 60px;
    }

    .contact-section__wrapper {
        padding: 20px;
    }

    .contact-section__title {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .advantages__cards {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .about__company-content-text {
        font-size: 18px;
    }

    .advantages__text {
        font-size: 16px;
    }

    /*.header {*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    width: 100%;*/
    /*    line-height: 1.2;*/
    /*}*/
}

@media (max-width: 768px) {
    .tab-item-header {
        padding-right: 0;
    }

    .tab-item-info {
        font-size: 18px;
    }

    .courses__hero-content h1 {
        font-size: 36px;
    }


    .courses__hero {
        height: 250px;
    }

    .about__company-content-advantages {
        margin-top: 20px;
    }

    .about__company-content {
        line-height: 1.3;
    }

    /*    .hero {
            padding: 100px 0 40px
        }*/
    .hero__text {
        margin: 0 0 20px 0;
        font-size: 16px;
        max-width: unset;
        text-align: center;
    }

    .hero__images {
        margin: 0 0 30px 0;
        position: static;
        width: 100%;
        overflow: hidden
    }

    .hero__images img {
        width: 48%;
        -o-object-fit: contain;
        object-fit: contain
    }

    .hero__images img:last-child {
        margin-left: 20px
    }

    .hero-btn {
        margin: 0 auto;
    }

    .news__content {
        padding: 15px;
    }

    .news__img img {
        height: auto;
    }

    .news__title {
        font-size: 18px;
    }

    .header__wrapper {
        height: 120px
    }

    .footer__content-top {
        flex-direction: column;
    }

    .footer__content {
        position: relative;
    }

    .contacts__list {
        margin: 0;
        display: flex;
        column-gap: 20px;
    }

    .footer__top_content-contacts {
        align-items: center;
    }

    .courses {
        margin-top: 25px;
    }

    .masters-card__content {
        min-height: 350px;
    }

    .courses-title {
        font-size: 28px;
        margin-bottom: 25px;
    }

    .courses__wrapper {
        margin-bottom: 50px;
    }

    .section-quote__title h3 {
        font-size: 36px
    }

    .newsletter {
        margin-bottom: 50px;
    }

    .masters-card__content {
        transform: translateY(0);
    }

    .header__content-left-title {
        font-size: 24px;
        line-height: 32px;
    }

    .header__content-left-subTitle {
        font-size: 16px;
        color: var(--primaryTextColor);
        max-width: 400px;
        margin-top: 15px;
    }

    .header__content-leftSide_btn {
        padding: 10px;
        max-width: 200px;
    }

    .advantages__cards {
        gap: 20px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: scroll;
        justify-content: start;
    }

    .advantages__card {
        height: 350px;
        width: 100%;
        min-width: 250px;
    }

    .newsletter__info {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .blog__title {
        font-size: 24px;
    }

    .blog {
        padding-top: 25px;
    }

    .info-newsletter__top {
        margin-bottom: 50px;
    }

    .pagination li {
        font-size: 24px;
        margin: 0 14px;
    }

    .pagination li svg {
        width: 30px;
    }
}

@media (max-width: 575.98px) {
    .nav__contacts {
        align-items: flex-start;
        flex-direction: column;
        margin-top: 15px;
    }

    .tab-item-info {
        margin-right: 0;
    }

    .tab-item-header {
        flex-direction: column;
        row-gap: 15px;
    }

    .courses__hero-content h1 {
        font-size: 24px;
    }

    .hero {
        padding-top: 0;
    }

    .about__company-title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .header__lang li input {
        font-size: 20px;
        padding: 0 10px;
    }

    .header__contacts {
        gap: 10px;
    }

    .header__wrapper {
        height: 90px
    }

    .footer__content {
        top: -20px;
    }

    .courses__wrapper {
        margin-bottom: 25px;
    }

    .masters-card__content {
        transform: translateY(0);
    }

    .info-newsletter__top {
        margin-bottom: 25px;
    }

    .masters-card__name–• {
        font-size: 18px;
    }

    .masters-card__content {
        min-height: auto;
    }

    .newsletter__info {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .header__content {
        gap: 40px;
        flex-direction: column;
        justify-content: start;
        min-height: 85vh;
        margin-top: 60px;
    }

    .hero__title {
        font-size: 28px;
    }

    .main {
        padding-top: 20px;
    }

    .header__content-left-title {
        font-size: 28px;
        line-height: 32px;
        width: 100%;
        text-align: center;
    }

    .header__content-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header__content-leftSide_btn {
        padding: 10px;
        max-width: 200px;
        margin-top: 20px;
    }

    .header__content-right {
        width: 100%;
    }

    .header__content-right::before {
        display: none;
        height: 200px;
    }

    .advantages__card {
        height: 350px;
        width: 100%;
        min-width: 250px;
    }

    .advantages__card_title {
        font-size: 14px;
    }

    .masters__container {
        padding: 0 15px;
    }

    .info-newsletter__title {
        font-size: 24px;
    }

    .newsletter-form__input {
        padding: 15px;
    }

    .newsletter-form__btn {
        padding: 15px;
    }

    .footer__content-top {
        flex-direction: column;
        align-items: center;
    }

    .contacts__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .socials__title {
        text-align: center;
    }

    .socials__subTitle {
        text-align: center;
    }

    .footer__content-descr {
        font-size: 14px;
        margin-top: 15px;
    }

    .contacts__list {
        margin-bottom: 0;
    }

    .footer__content-top {
        gap: 20px;
    }

    .footer__content-descr {
        margin-bottom: 0;
    }

    .section-quote__title h3 {
        font-size: 24px;
    }

    .section-quote__title {
        margin-bottom: 20px;
    }
}