{% load static gurulab_tags %}
{% is_news_page request as is_news %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="бьюти студия, бьюти студия ташкент, студии красоты, обучение мастеров для салонов красоты, обучение в салоне красоты, гурулаб, гурулаб ташкент, студия гурулаб,gurulab, обучение маникюру ташкент ">
    <meta name="description" content="Gurulab – это огромный выбор курсов с нуля и на повышение квалификации в сфере красоты.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'style/libs.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/media.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body class="grid">
{% include 'components/_header.html' %}
<main class="main">
    {% block content %}
    {% endblock content %}
</main>


{% include 'components/_footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
</script>

<script src="{% static 'scripts/script.js' %}"></script>
</body>

</html>