{% load i18n gurulab_tags static %}

{% is_home_page request as is_home %}

<nav class="navbar nav navbar-expand-lg">
    <div class="container navbar__container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/logo.svg' %}" alt="Gurulab" class="nav__logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav nav__list">
                <li class="nav-item">
                    <a class="nav__list-link nav-link" href="{% url 'index' %}">{% trans 'Главная' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav__list-link"
                       href="{% if not is_home %}/{% endif %}#about__company">{% trans 'О нас' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav__list-link" href="{% if not is_home %}/{% endif %}#masters">{% trans 'Мастера' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav__list-link" href="{% url 'news' %}">{% trans 'Новости' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav__list-link" href="{% if not is_home %}/{% endif %}#contacts">{% trans 'Контакты' %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav__list-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-expanded="false">{% trans 'Курсы' %}</a>
                    <div class="dropdown-menu dropdown__menu">
                        {% get_courses as courses %}
                        {% for course in courses %}
                        <a class="dropdown-item dropdown__menu-item" href="{{ course.get_absolute_url }}">
                            <p class="text-wrap">{{ course }}</p>
                        </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
            <div class="nav__contacts">
                <form action="{% url 'set_language' %}" class="d-flex gap-3" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ redirect_to }}">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    {% for lang in languages %}
                    <input type="submit" name="language"
                           class="lang__link {% if LANGUAGE_CODE == lang.code %}active{% endif %}"
                           value="{{ lang.code|upper }}">
                    {% endfor %}
                </form>
                <div class="nav__location_info ml-auto float-start">
                    <p>+998909247994, +998903252828</p>
                    <p>{% trans 'г. Ташкент, Яккасарайский район' %}</p>
                    <p>{% trans 'ул. Марьям Якубова дом №18' %}</p>
                </div>
            </div>
        </div>
    </div>
</nav>